/.lake
blueprint/print/print.aux
blueprint/print/print.fdb_latexmk
blueprint/print/print.fls
blueprint/print/print.log
blueprint/print/print.out
blueprint/print/print.pdf
blueprint/print/print.synctex.gz
blueprint/src/web.paux
lake-manifest.json
blueprint/src/TERred.aux
blueprint/src/TERred.fdb_latexmk
blueprint/src/TERred.fls
blueprint/src/TERred.log
blueprint/src/TERred.out
blueprint/src/TERred.pdf
blueprint/src/TERred.synctex.gz
blueprint/src/TERred.toc
blueprint/web/dep_graph_document.html
blueprint/web/index.html
blueprint/web/sect0001.html
blueprint/web/sect0002.html
blueprint/web/sect0003.html
